[Unit]
Description=Player for BBB Recordings

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/home/bbb-player/bbb-player/venv/bin/python3 manage.py runserver 127.0.0.1:8009
User=bbb-player
WorkingDirectory=/home/bbb-player/bbb-player/bbb_player/
Restart=always
KillSignal=SIGKILL